.menu>a{
    font-size: 15pt;
    Font-variant:small-caps;
    Color:blue;
    Text-decoration:none;
}

.menu>a:visited{
    Color:green;
 }

.menu>a:hover{
    Color:red;
    Text-decoration:underline;
 }

body{
     text-align: center;
 }