.kieu1{
    background: grey; color: violet; font-weight: bold; 
    text-decoration: underline; font-style: italic;
}
.kieu2{
    background: grey; color: violet; font-weight: bold; 
    text-decoration: underline; font-style: italic;
}
.kieu3{
    background: grey; color: violet; font-weight: bold; 
    text-decoration: underline; font-style: italic;
}
hr{
    width: 200px; text-align: center; border: 1px dotted; color: red;
}